body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
canvas {
  display: block;
  background-image: url("assets/cassette.png");
}

#mobile {display: none;}

@media screen and (max-width: 768px) {

  #mobile {
    display: block;
  }

.turn-left {
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 0;
  z-index: 10;
}

.turn-right {
  position: absolute;
  width: 20vw;
  height: 100vh;
  right: 0;
  z-index: 10;
}
  }
