
:root {
  --heightScreen: 583px;
  --widthScreen: 800px;
  --backgroundColor: white;
  --buttonSize: 42px;
}

body {
  font-family: "Share Tech Mono", monospace !important;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px; 
  // width: 100%;
  // height: 100%;
  width: var(--widthScreen) !important;
  height: var(--heightScreen) !important;
  // background-image: url("cassette-depth.svg");
}

.controlsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  height:  var(--buttonSize);
  width: 85%;
  gap: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
}

.buttonContainer {
  position: relative;
  width: var(--buttonSize);
}

.button {
  position: absolute;
  font-size: 30px;
  width: var(--buttonSize);
  height: var(--buttonSize);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px 6px;
  background-color: var(--backgroundColor);
  border: 0px solid;
  border-radius: 10px;
  box-shadow: 0 0 0 1.6px black, 0px 16px var(--backgroundColor), 0px 16px 0px 1.6px black;
  mix-blend-mode: luminosity;
}

.buttonPressed {
  box-shadow: 0 0 0 1.6px black, 0px 8px var(--backgroundColor), 0px 8px 0px 1.6px black !important;
  top: 8px !important;
}


@media screen and (min-width: 768px) {

  :root {
    --buttonSize: 50px;
  }

  canvas {
    width: auto;
    height: auto;
  }

  .controlsContainer {
    width: 50%; 
  }

  .button {
    font-size: 35px;
    width: var(--buttonSize);
    height: var(--buttonSize);
  }
}

