
:root {
  --heightScreen: 590px;
  --widthScreen: 800px;

  --backgroundColor: white;
}

body {
  font-family: "Share Tech Mono", monospace !important;
  margin: 0;
  width: 100%;
  background-color: var(--backgroundColor);
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("cassette-depth.png");
}

.scoreElement {
  position: absolute;
  color: black;
  left: 50%;
  transform: translate(-50%, -106px);
}

.button {
  position: absolute;
  font-size: 35px;
  padding: 0px 6px;
  background-color: var(--backgroundColor);
  border: 0px solid;
  border-radius: 10px;
  box-shadow: 0 0 0 2px black, 0px 16px var(--backgroundColor), 0px 16px 0px 2px black;
}

.buttonPressed {
  box-shadow: 0 0 0 2px black, 0px 8px var(--backgroundColor), 0px 8px 0px 2px black !important;
  top: 8px !important;
}

.controlsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 80px;
  height: 60px;
  position: relative;
}

